.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section:nth-of-type(1) {
    height: calc(90vh + 53px);
    padding: 0 10px;
}

.canvas {
    position: absolute;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin: 0 0 20px 0;
    pointer-events: none;
    z-index: 1;
}

.welcomeText {
    margin-bottom: 20px;
    font-size: 14pt;
}

.highlight {
    font-size: 40pt;
    font-weight: 800;
    color: yellow;
}

.slogan {
    font-size: 20pt;
    font-weight: 600;
    color: #ddd;
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 20pt;
    }
}
